.main-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    flex: 1;
    display: flex;
    margin: 0 auto;
    background-color: #fffefe;
}

.content-container {
    flex: 1;
    margin-right: auto;
    border-right: 1px solid #374151;
    width: 100%;
}


@media (min-width: 1280px) {
    .content-container {
        width: 70%;
    }
}

.messages-wrapper {
    padding-bottom: 4rem;
}
